@layer base {
    body {
        @apply font-gotham font-light bg-bgmain text-gray-dark text-base sm:text-lg;
    }

    button {
        @apply border-0;
    }

    h1,h2,h3,h4,h5,h6 {
        @apply font-medium text-black;

        a {
            @apply no-underline;
        }
    }

    h1 {
        @apply text-5xl lg:text-6xl;
    }

    h2 {
        @apply text-4xl lg:text-5xl;
    }

    h3 {
        @apply text-3xl lg:text-4xl;
    }

    h4 {
        @apply text-2xl lg:text-3xl;
    }

    h5 {
        @apply text-xl lg:text-2xl;
    }

    b, strong {
        @apply font-bold;
    }

    a {
        @apply underline decoration-primary decoration-2 underline-offset-8 hover:text-primary transition-colors duration-300;
    }

    input,
    textarea {
        border: 1px solid #ccc;
        @apply px-4 py-3 rounded-[0.5rem] bg-bgmain text-navlink placeholder:text-navlink placeholder:opacity-50 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent;
    }

    select {
        border: 1px solid #ccc;
        @apply px-4 py-3 rounded-[0.5rem] bg-bgmain text-navlink placeholder:text-navlink placeholder:opacity-50 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent;
    }

    textarea {
        width: 100%;
    }

    dfn,
    cite,
    em,
    i {
        font-style: italic;
    }

    blockquote {
        margin: 0 1.5em;
    }

    address {
        margin: 0 0 1.5em;
    }

    pre {
        background: #eee;
        font-family: "Courier 10 Pitch", courier, monospace;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1.6em;
    }

    code,
    kbd,
    tt,
    var {
        font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    }

    abbr,
    acronym {
        border-bottom: 1px dotted #666;
        cursor: help;
    }

    mark,
    ins {
        background: #fff9c0;
        text-decoration: none;
    }

    big {
        font-size: 125%;
    }

    /* Elements
    --------------------------------------------- */

    hr {
        background-color: #ccc;
        border: 0;
        height: 1px;
        margin-bottom: 1.5em;
    }

    dt {
        font-weight: 700;
    }

    dd {
        margin: 0 1.5em 1.5em;
    }

    /* Make sure embeds and iframes fit their containers. */
    embed,
    iframe,
    object {
        max-width: 100%;
    }

    figure {
        margin: 1em 0;
    }

    table {
        margin: 0 0 1.5em;
        width: 100%;
    }

}
