// Define a reusable path for your theme’s image assets
$assets-image-path: '../../../assets/images';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Global element styles ===== */
@layer base {
    body {
        @apply font-poppins bg-bgmain text-base lg:text-lg;
    }
    a:visited {
        color: inherit;
    }
    button {
        @apply border-0;
        // @apply rounded-btn bg-secondary text-white px-[40px] py-[20px] text-lg border-0 transition-colors duration-150 font-medium;

        // &:hover,
        // &:focus {
        //     @apply text-primary text-white outline-none;
        // }
    }
}

/* — navigation component styles — */
@layer components {
    .main-navigation {

        ul {
            @apply block sm:flex;
        }

        a {
            @apply text-navlink transition-colors duration-300 font-medium sm:text-sm lg:text-lg;

            &:hover,
            &:focus {
                @apply text-primary outline-none;
            }

            &[aria-current="page"] {
                @apply text-primary;
            }
        }
    }

//     .mobile-nav-overlay {
//         // @apply w-0 opacity-0 top-0 right-0 h-full transition-[right] duration-300 ease-in-out;
//         @apply w-0 opacity-100 right-0 top-0 h-full;
//         transition: all 500ms ease-out;
// //         transition-delay: 1s, 500ms;
// // transition-property: width, opacity;
//         #mobile-nav-close,
//         .menu-menu-container {
//             @apply hidden opacity-0;
//         }

//     }

    // .mobile-nav-overlay--open {
    //     @apply w-[20rem] right-0;
    //     transition: width 500ms ease-in;

    //     #mobile-nav-close,
    //     .menu-menu-container {
    //         @apply block opacity-100;
    //     }
    // }

    .mobile-menu {

        a {
            @apply text-bgmain hover:text-navlink focus:text-navlink transition-colors duration-300;

            // &:after {
            //     @apply content-[''] block h-[3px] w-0 bg-bgmain transition-[width] duration-300 hover:w-10;
            // }
            &[aria-current="page"] {
                @apply text-navlink;
            }
        }
    }

    .hero-banner {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &:before {
            content: '';
            background-color: black;
            height: 100%;
            width: 100%;
            opacity: 0.3;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .footer-menu {

        a {
            @apply text-white visited:text-white;

            &:hover,
            &:focus {
                @apply text-primary outline-none;
            }
        }
    }

    .site-main,
    .site-footer {
        // @apply max-w-7xl mx-auto px-6 lg:px-8;
        @apply px-4 py-0;
    }
}

/* ===== Custom styles ===== */
